<form action="login" method="post">
  <div class="topnav">
  <img src="" alt="safer-bookings-img" class="logo">
  <a href="#admin">Admin/Safeguarding</a>
  <a href="#sign-up">Sign-Up</a>
  <a href="#attendance">Check-in/out</a>
  <a href="#login">Login</a>
  <button id="" class="active" aria-label="click to go to dashboard"><span>Dashboard</span></button>
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw" required>

    <button id="" class="active" aria-label="click to sign in"><span>Sign In</span></button>

    <a href="#forgot-password">Forgot Password?</a>
  </div>
</form>